OA=
# The Tebex store account is not included in the repository, but its shipped in the releases / builds.
# If you want to run the app from source, you need to get the Tebex store account from the GET request: https://store.see-rpg.com/
# otherwise the store not loads
VERSION=1.0.0
