:root {
    --background-gradient: linear-gradient(-30deg, #1b2636, #1b2534, #1a2433, #1a2331, #1a222f, #1a212e, #19202c, #191f2a, #191e29, #181e27, #181d25, #171c24, #171b22, #161a21, #16191f);
    --surface1: #131820;
    --surface2: #0d1117;
    --border: #363a49;
    --text: #cacbcf;
    --dim1: #dfa406;
    --dim2: #69cae7;
    --accent: #4f9eff;
    --navbar-icon: #95979f;
    --navbar-icon-hover: #bfc1c5;
    --button-border: #2a2e33;
    --decline-hover-color: #3b3645;
    --decline-hover-border: #634351;
    --accept-hover-color: #36495a;
    --accept-hover-border: #4b7e95;
    --window-icon-hover: #2a3244;
    --navbar-icon-hover-bg: #2a3244;
    --active-bg: #0E2C40;
    --comment: #84888f;
    --navbar-icon-highlighted: #2D8CC8;
    --red: #e06c75;
    --green: #5ec263;
    --darker-green: #24913c;
    --orange: #ffc04e;
    --black: #141414;
    --gray: #84888f;
    --blue: #378add;
    --lighter-blue: #78b8f0;
    --nikis-color: #ffff99;
    --white: #ebedef;
}
