:root {
    --height: 40px;
    --width: 52px;

    --surface1: #131820;
    --surface2: #0d1117;
    --border: #363a49;
    --text: #cacbcf;
    --dim1: #dfa406;
    --dim2: #69cae7;
    --accent: #4f9eff;
    --navbar-icon: #95979f;
    --navbar-icon-hover: #bfc1c5;

    --button-border: #2a2e33;
    --decline-hover-color: #3b3645;
    --decline-hover-border: #634351;
    --accept-hover-color: #36495a;
    --accept-hover-border: #4b7e95;

    --window-icon-hover: #2a3244;

    --navbar-icon-hover-bg: #2a3244;
    --navbar-icon-active: #0E2C40;

    --comment: #84888f;

    --navbar-icon-highlighted: #2D8CC8;

    --red: #e06c75;
    --green: #5ec263;
    --orange: #ffc04e;
    --black: #141414;
    --gray: #84888f;
    --nikis-color: #ffff99;

    user-select: none;
}
