:root {
    --height: 40px;
    --width: 52px;
}

main {
    background: var(--background-gradient);
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    user-select: none;
}

.text {
    color: var(--text);
}

.news-title {
    color: var(--news-title);
}

.news-comment {
    color: var(--news-comment);
}


.comment {
    color: var(--comment);
}

.highlighted {
    color: var(--dim1);
}

.highlighted.link {
    text-decoration: underline;
}

.highlighted.link:hover {
    cursor: pointer;
}

.button {
    padding: 0 20px;
    height: 34px;
    border-radius: 6px;
    border: 0.5px solid var(--button-border);
    background: transparent;
    color: var(--text);
    font-size: 12px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
}

.button.cancel:hover {
    background: var(--decline-hover-color);
    border-color: var(--decline-hover-border);
    color: var(--red);
}

.button.ok:hover {
    background: var(--accept-hover-color);
    border-color: var(--accept-hover-border);
}
